<div class="signup-container">

  <div class="signup-card">

    <h2>Create Account 🚀</h2>

    <input
      type="text"
      placeholder="User ID"
      [(ngModel)]="userId"
    >

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    >

    <select [(ngModel)]="role">

      <option value="">Select Role</option>

      <option value="Admin">Admin</option>

      <option value="General User">
        General User
      </option>

    </select>

    <button (click)="register()">
      Sign Up
    </button>

  </div>

</div>
